.nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
  margin-bottom: 2rem;

  box-shadow: 0 3px 5px rgba(0, 0, 0, .5);

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.mainMenu {
  display: flex;
  flex: 1;
  gap: .5rem;

  margin: 0;
  padding: 0;
  list-style: none;

  & a:hover,
  & a.active {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

.logo {
  font-size: 2rem;
}

.pushRight {
  margin-left: auto;
}


.highlight {
  background-color: red;
}
