.header{
    background-color: #f97171;
}

.main{
    background-color: #fff;
}

.left{
    background-color: #f5d55e;
}

.right{
    background-color: #c5ed77;
}

.footer{
    background-color: #72c2f1;
    /*flex-grow: 3;*/
}

/**/
html,body{
    height: 100vh;
}
body{
    display: grid;
    margin: 0;
}

/*stil pt tablete*/
@media screen and (min-width: 768px){
    body{
        grid-template-areas: "header header"
        "main main"
        "left right"
        "footer footer";
    }
    .header{
        grid-area: header;
    }

    .main{
        grid-area: main;
    }
    .left{
        grid-area: left;
    }
    .right{
        grid-area: right;
    }
    .footer{
        grid-area: footer;
    }
}