.header{
    background-color: #f97171;
}

.main{
    background-color: #fff;
}

.left{
    background-color: #f5d55e;
}

.right{
    background-color: #c5ed77;
}

.footer{
    background-color: #72c2f1;
    /*flex-grow: 3;*/
}

/**/
html,body{
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column ;
    margin: 0;
}

/*rata de crestere flex grow, shrink, basis*/
body > * {
    flex: 1 1 auto;
}


/*stil pt tablete*/
@media screen and (min-width: 768px){

}