.brandForm {
  display: grid;
  gap: 1rem;
  grid-template-columns: 150px 1fr;

  margin: 0 auto;

  width: 80%;
  max-width: 1024px;

  & label {
    justify-self: end;
    align-self: center;

    &:has(~ textarea) {
      align-self: start;
    }
  }

  & input:is([type=text],[type=password],[type=email],[type=url],[type=tel],[type=number]) {
    padding: .5rem 1rem;
    
    border: 1px solid #444;
    border-radius: 3px;
    color: var(--color-text-dark-on-light);
    font: inherit;
  }

  & button {
    grid-column-start: 2;
    justify-self: start;

    padding: .5rem 1rem;

    border:1px solid #444;
    border-radius: 3px;
    color: var(--color-text-dark-on-light);
    cursor: pointer;
    font: inherit;
  }
}

.spanFullGrid {
  grid-column: 1 / -1;
}

