.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

& a{
    text-decoration: none;
    color:inherit;

}
.menu{
    display:flex;
    gap: 0.5rem;
    flex:1;
    margin:0;
    padding:0;
    list-style: none;
    & a:hover,
    & a:active{
        color:blue;
        text-decoration: underline;
    }
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.styles-right{
    margin-left: auto;
}